<div class="card mb-4">
  <a href="#!"
    ><img
      class="card-img-top"
      src="../../../assets/images/main.jpg"
      alt="..."
      height="350px"
      width="850px"
  /></a>
  <div class="card-body">
    <div class="small text-muted">26 Juillet 2023</div>
    <h2 class="card-title">Le site qui va booster le tourisme calédonien !</h2>
    <p class="card-text">
      Tout récemment mis en ligne le site Cagou Ouh ! débarque sur le web, le
      concept ? Promouvoir le tourisme calédonien avec l'aide du peuple qui y
      vit.
    </p>
    <a class="btn btn-primary" href="#!">En savoir plus →</a>
  </div>
</div>
