<section class="mb-5">
  <div class="card bg-light">
    <div class="card-body">
      <!-- Comment form-->
      <form class="mb-4 d-flex" [formGroup]="commentContent">
        <textarea
          class="form-control"
          rows="3"
          placeholder="Laisse en commentaire ton avis !"
          formControlName="comment"
        ></textarea>
        <button class="btn btn-primary" (click)="postComment()">
          Commenter
        </button>
      </form>
      <!-- Comment with nested comments-->
      <div class="d-flex mb-4" *ngFor="let comment of comment">
        <!-- Parent comment-->
        <div class="flex-shrink-0">
          <img
            class="rounded-circle"
            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
            alt="..."
          />
        </div>
        <div class="ms-3" *ngIf="comment">
          <div class="fw-bold">Commenter Name</div>
          {{ comment.content }}

          <!-- Child comment 1-->
          <!--           <div class="d-flex mt-4">
            <div class="flex-shrink-0">
              <img
                class="rounded-circle"
                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                alt="..."
              />
            </div>
            <div class="ms-3">
              <div class="fw-bold">Commenter Name</div>
              And under those conditions, you cannot establish a capital-market
              evaluation of that enterprise. You can't get investors.
            </div>
          </div> -->
          <!-- Child comment 2-->
          <!--           <div class="d-flex mt-4">
            <div class="flex-shrink-0">
              <img
                class="rounded-circle"
                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                alt="..."
              />
            </div>
            <div class="ms-3">
              <div class="fw-bold">Commenter Name</div>
              When you put money directly to a problem, it makes a good
              headline.
            </div>
          </div> -->
        </div>
      </div>
      <!-- Single comment-->
    </div>
  </div>
</section>
