<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
  <div class="container-fluid">
    <img
      src="../../../../assets/images/logo.png"
      height="100px"
      alt="Logo du site internet"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link active arimo" aria-current="page"
            >Bienvenue !
          </p>
        </li>
      </ul>
      <ul *ngIf="!user" class="navbar-nav">
        <li class="m-10">
          <a routerLink="/" class="nav-link">Connexion</a>
        </li>
        <li class="m-10">
          <a routerLink="inscription" class="nav-link">Inscription</a>
        </li>
      </ul>
      <ul *ngIf="user" class="navbar-nav">
        <li class="m-10">
          <a routerLink="profil" class="nav-link">Profil</a>
        </li>
        <li style="cursor: pointer" class="m-10">
          <a routerLink="/" class="nav-link" (click)="logout.emit(true)"
            >Déconnexion</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
