<!-- Search widget-->
<div class="card mb-4">
  <div class="card-header">Rechercher</div>
  <div class="card-body">
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        placeholder="Rechercher un lieu..."
        aria-label="Rechercher un lieu..."
        aria-describedby="button-search"
        [(ngModel)]="searchTerm"
      />
      <a
        class="btn btn-primary"
        id="button-search"
        type="button"
        (click)="search()"
        href="search/{{ searchTerm }}"
      >
        Go !
      </a>
    </div>
  </div>
</div>
<!-- Categories widget-->
<div class="card mb-4">
  <div class="card-header">Catégories</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-unstyled mb-0">
          <li><span class="badge rounded-pill text-bg-success">Terre</span></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled mb-0">
          <li><span class="badge rounded-pill text-bg-info text-light">Mer</span></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled mb-0">
          <li><span class="badge rounded-pill text-bg-warning text-light">Urbain</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Side widget-->
<div class="card mb-4" *ngIf="user">
  <div class="card-header">Quoi de neuf ?</div>
  <div class="card-body">
    <form [formGroup]="form" (submit)="submit()">
      <div class="mb-3">
        <label for="titreDuPost" class="form-label">Titre du post :</label>
        <input
          type="text"
          class="form-control"
          id="titreDuPost"
          placeholder="Entrer le titre de votre post"
          aria-describedby="titreDuPost"
          formControlName="titre"
        />
      </div>
      <div class="mb-3">
        <label for="imageDuPost" class="form-label">Url de l'image :</label>
        <input
          type="text"
          class="form-control"
          placeholder="Entrer l'URL de votre image"
          id="imageDuPost"
          formControlName="image"
        />
      </div>
      <div class="mb-3">
        <label for="contenuDuPost" class="form-label">Contenu du post :</label>

        <textarea
          class="form-control"
          formControlName="content"
          id="contenuDuPost"
          cols="30"
          rows="6"
          placeholder="Écriver le contenu de votre post (120 caractères)"
          maxlength="120"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="categorieDuPost" class="form-label">Catégorie</label>

        <select
          class="form-select"
          id="select-category"
          formControlName="category"
        >
          <option selected>Sélectionner la catégorie</option>
          <option value="Terre">Terre</option>
          <option value="Mer">Mer</option>
          <option value="Urbain">Urbain</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Publier</button>
    </form>
  </div>
</div>
