<div class="row">
  <div class="col-lg-6">
    <!-- Blog post 1 -->
    <div class="card mb-4" *ngFor="let blog of leftColumnBlogs">
      <a href="#!">
        <img class="card-img-top img-fluid" [src]="blog.image" alt="..." />
      </a>
      <div class="card-body">
        <div class="small text-muted">Publié le : {{ blog.created_at | date : "dd/MM/yyyy" }}</div>
        <h2 class="card-title h4">{{ blog.titre }}</h2>
        <p class="card-text text-break">{{ blog.content }}</p>
        <div class="row">
          <div class="col-6">
            <a class="btn btn-primary" href="post/{{ blog._id }}"
              >En savoir plus →</a
            >
          </div>
          <div class="col-6">
            <button (click)="onDeleteBlog(blog._id)">Supprimer le blog</button>
            <span
              class="badge rounded-pill text-bg-dark"
              style="margin-left: 6rem"
              >{{ blog.category }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- Blog post 2 -->
    <div class="card mb-4" *ngFor="let blog of rightColumnBlogs">
      <a href="#!">
        <img class="card-img-top img-fluid" [src]="blog.image" alt="..." />
      </a>
      <div class="card-body">
        <div class="small text-muted">
          Publié le : {{ blog.created_at | date : "dd/MM/yyyy" }}
        </div>
        <h2 class="card-title h4">{{ blog.titre }}</h2>
        <p class="card-text text-break">{{ blog.content }}</p>
        <div class="row">
          <div class="col-6">
            <a class="btn btn-primary" href="post/{{ blog._id }}"
              >En savoir plus →</a
            >
          </div>
          <div class="col-6">
            <span
              class="badge rounded-pill text-bg-dark"
              style="margin-left: 6rem"
              >{{ blog.category }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Pagination">
  <hr class="my-0" />
  <ul class="pagination justify-content-center my-4">
    <pagination
      [(ngModel)]="currentPage"
      [itemsPerPage]="pageSize"
      [totalItems]="totalItems"
      [customNextTemplate]="nextTemplate"
      [customPreviousTemplate]="prevTemplate"
      (pageChanged)="onPageChange($event)"
    ></pagination>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ➡️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container *ngIf="!disabled">
        ⬅️
      </ng-container>
      <ng-container *ngIf="disabled">
        ⛔
      </ng-container>
    </ng-template>
  </ul>
</nav>
